################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

# RCKangaroo EC A/B artifacts (built + run on the GPU box, not committed)
/CUDACyclone-ecbench
/CUDACyclone-rckfield
/CUDACyclone-rckinv
/CUDACyclone-rckall
/CUDACyclone-crfield
/CUDACyclone-crfieldA
/ab_ec_logs/
/cyclone_tests_results.txt
